{% extends 'base.html.twig' %}

{% set successMessages = app.flashes('success') %}

{% block body %}

<div class="home flex flex-column align-center flex-center" style="background-image: url('/img/homepage.jpg');">
  <div class="titleSection pl30">
    <span class="title text_shadow_light" style="margin-right: 10px;">CHEF PRIVÉ À DOMICILE</span>
    <div style="flex: 1; height: 2px; background-color: rgba(255, 255, 255, 0.3)"></div>
  </div>
  <div class="accroche text_shadow_light">
     Une Expérience<br>
    De Chef<br>
    Servie Chez<br>
    Vous!
  </div>
</div>

<div id="aboutme" class="home-container-inner flex height_full">
    <h2 class="mt20 mb10 title_section"> À propos </h2>
    <div class="entry-text pb20" style="width:70%">
      <p>
        {{ tabArticle.bloc_presentation.text }}
      </p>
      <div class="about-img mt30 flex flex-between align-start">
      
      <div><img src="/img/about1.jpg" alt="about image 1"/></div>
      <div><img src="/img/about2.jpg" alt="about image 2" /></div>
      </div>
    </div>
</div>

<div id="prestations" class="height_full p50">
  <div class="accroche_prestation text_shadow_dark">
    Vos Événements
    <br>
    Sur&nbsp;Mesure
  </div>
  <div class="videosection" style="fullwidth">
    <video autoplay muted loop playsinline class="fullwidth">
      <source src="/video/cooking.mp4" type="video/mp4">
    </video>
  </div>


  <div
    class="titlesection">
    {# <div style="flex: 1; height: 2px; background-color: rgba(255, 255, 255, 0.3)"></div> #}
    <span class="title text_shadow_dark" style="line-height: 1.2;">De l’intimité d’un dîner privé à la grandeur d’une réception, chaque détail est pensé pour refléter vos envies.
      <br>
      Je crée des expériences culinaires uniques, taillées à votre image.</span>
  </div>
</div>

<div id="prestations_card" class="home-container-inner flex height_full">
    <h2 class="mt20 mb10 title_section"> Mes préstations </h2>
    <div class="entry-text pb20" style="width:70%">
      <div id="prestations_card" class="menu-container" style="width:100%;"> {# Removed mt20 as padding-top on parent handles this #}
      {% for key, one_article in tabArticle %}
      {% if key != "bloc_presentation" %}
      <div class="menu-item-wrapper">
        <a href="#" class="menu-item" onclick="toggleCollapsible(event, 'content{{ one_article.id - 1 }}')">
          <div class="menu-item-image-wrapper">
            <img src="/img/plat{{ one_article.id - 1 }}.jpg?v=2" alt="image de présentation" class="menu-item-image">
          </div>
          <div class="menu-item-content flex flex-column flex-center">
            <div class="menu-item-tags">{{ one_article.subtitle }}</div>
            <h2 class="menu-item-title">{{ one_article.title }}</h2>
          </div>
          <div class="menu-item-arrow">&#10140;</div>
        </a>
        <div id="content{{ one_article.id - 1 }}" class="collapsible-content">
          <p>{{ one_article.text }}</p>
          <p>Mes menus sont entièrement personnalisables. Je les adapte à vos envies et aux spécificités de votre événement.<br>
            Les suggestions ci-dessous sont des exemples de ce que je peux créer pour vous, conçues avec des produits frais et de saison.<br>Elles vous donneront un aperçu de mon savoir-faire et de la diversité de mes inspirations.</p>
          <div class="menu-sections-collapsible">
            <div class="menu-column-collapsible">
              <h4>Printemps & Été</h4>
              <ul>
                <li>Courgette marinée au citron, tomate datterino confite, pesto de roquette, pistache</li>
                <li>Gazpacho tomate, poivron, huile verte</li>
                <li>Mini-burger, champignon crème, pesto ail des ours, copeaux de parmesan</li>
                <li>Bruschetta, confit d'oignon, aubergine grillée, ciboulette, parmesan</li>
                <li>Tataki de thon, crème de brocoli, bonite séchée, grenade</li>
                <li>Artichaut poivrade confit, cecina de bœuf, sauce vierge à l'origan</li>
                <li>Asperge verte grillée, crumble parmesan, sabayon citron</li>
                <li>Sashimi de Saint-Pierre, marinade soja / sésame, citronnelle</li>
                <li>Mini-croque, cécina de bœuf, ricotta, tombée d'épinard, pignon de pain</li>
              </ul>
            </div>
            <div class="menu-column-collapsible">
              <h4>Automne & Hiver</h4>
              <ul>
                <li>Gaufre sarrasin, gravlax de saumon à la fève tonka, crème raifort, combawa</li>
                <li>Tuile basilic, tartare de dorade royale, gel citron, mélisse</li>
                <li>Foie gras maison mariné au Porto, brioche toastée, chutney de coing</li>
                <li>Champignon juste mariné, farce ricotta / ail confit, ciboulette et sumac</li>
                <li>Huîtres fine de Clair, condiment avocat / kiwi</li>
                <li>Focaccia toastée, crème de potimarron à l'huile de noisette, féta</li>
                <li>Saint-Jacques grillée, crème de choux-fleur à la fève de tonka, condiment brocolis / chorizo / parmesan</li>
                <li>Magret de canard rosé, endive braisée, vinaigrette miel / gingembre</li>
                <li>Mini-burger, bun maison, haché de bœuf, poitrine de veau fumée, tombée d'oignon, pickles de concombre, cheddar</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    </div>
</div>

<script>
   
    function toggleCollapsible(event, contentId) {
        event.preventDefault(); 
        const content = document.getElementById(contentId);
        const menuItem = event.currentTarget; 

        if (content.classList.contains('show')) {
            content.classList.remove('show');
            menuItem.classList.remove('active');
        } else {
            
            document.querySelectorAll('.collapsible-content.show').forEach(openContent => {
                openContent.classList.remove('show');
            });
            document.querySelectorAll('.menu-item.active').forEach(activeItem => {
                activeItem.classList.remove('active');
            });

            content.classList.add('show');
            menuItem.classList.add('active');
        }
    }
</script>

{% endblock %}
