{% extends 'base.html.twig' %}

{%  set successMessages = app.flashes('success') %}



{% block body %}
<div class="home height_full" style="background-image: url('/img/homepage.jpg');">

	<h2 class="logo-nav ml25">Nicolas Chef .</h2>

	<div class="titleSection pl30">
		<span class="title text_shadow_light" style="margin-right: 10px;">CHEF PRIVÉ À DOMICILE</span>
		<div style="flex: 1; height: 2px; background-color: rgba(255, 255, 255, 0.3)"></div>
	</div>

	<div class="accroche text_shadow_light">
		Une Expérience<br>
		De Chef<br>
		Servie Chez<br>
		Vous!
	</div>
</div>


<div class="home-container-inner height_full flex">
		<h2 class="mt20 mb10 title_section"> À propos </h2>
		<div class="entry-text pb20" style="width:70%">
			<p>
				{{ tabArticle.bloc_presentation.text }}
			</p>
			<div class="about-img mt30 flex flex-between align-start">
			
			<div><img src="/img/about1.jpg" alt="about image 1"/></div>
			<div><img src="/img/about2.jpg" alt="about image 2" /></div>
			</div>
		</div>
</div>

<div id="prestations" class="height_full p50">
	<div class="accroche_prestation text_shadow_dark">
		Vos Événements
		<br>
		Sur&nbsp;Mesure
	</div>
	<div class="videosection" style="fullwidth">
		<video autoplay muted loop playsinline class="fullwidth">
			<source src="/video/cooking.mp4" type="video/mp4">
		</video>
	</div>


	<div
		class="titlesection">
		{# <div style="flex: 1; height: 2px; background-color: rgba(255, 255, 255, 0.3)"></div> #}
		<span class="title text_shadow_dark" style="line-height: 1.2;">De l’intimité d’un dîner privé à la grandeur d’une réception, chaque détail est pensé pour refléter vos envies.
			<br>
			Je crée des expériences culinaires uniques, taillées à votre image.</span>
	</div>
</div>

<div class="home-container-inner height_full flex" style="padding-top:50px;">
	<h2 class="mt20 mb10 title_section">
		Mes préstations
	</h2>

	    <div class="menu-container mt20" style="width:70%;">
			 {% for key, one_article in tabArticle %}
			 		{% if key != "bloc_presentation" %}
        <div class="menu-item-wrapper">
            <a href="#" class="menu-item" onclick="toggleCollapsible(event, 'content{{ one_article.id - 1 }}')">
                <div class="menu-item-image-wrapper">
                    <img src="/img/plat{{ one_article.id - 1 }}.jpg" alt="image de présentation" class="menu-item-image">
                </div>
                <div class="menu-item-content flex flex-column flex-center">
										<div class="menu-item-tags">{{ one_article.subtitle }}</div>
                    <h2 class="menu-item-title">{{ one_article.title }}</h2>
                </div>
                <div class="menu-item-arrow">&#10140;</div>
            </a>
            <div id="content{{ one_article.id - 1 }}" class="collapsible-content">
                <p>{{ one_article.text }}</p>
            </div>
        </div>
				{% endif %}	
			{% endfor %}	
    </div>
</div>




		{# 

		<div class="form-container p40">
  	{% for message in successMessages %}
    	<div class="success-message" id="flashmessage">{{ message }}</div>
  	{% endfor %}

		<form method="POST" id="contact-form">
			<div class="flex flex-center flex-gap-40 flex-wrap">
				<div class="form-left mb10">
					<h2 class="title-1 font-noticia mb5">Contactez-moi</h2>
					<div class="error">
    				{{ form_errors(form.name) }}
					</div>
					{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}

					<div class="error">
    				{{ form_errors(form.surname) }}
					</div>
					{{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}

					<div class="error">
    				{{ form_errors(form.phone) }}
					</div>
					{{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}

					<div class="error">
    				{{ form_errors(form.email) }}
					</div>
					{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
					
				</div>

				<div class="form-right mb10">
					{{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre Message', 'rows': '6'}}) }}
					<div class="error">
    				{{ form_errors(form.message) }}
					</div>
					<div class="form-submit">
						{{ form_rest(form) }}
						<button type="submit" class="submit-btn">Envoyer</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div class="mt50 flex flex-column">
		<h1 class="title-1 font-noticia mb10">Suivez-moi sur instagram</h1>
		<!-- LightWidget WIDGET -->
		<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
		<iframe src="//lightwidget.com/widgets/d8709e3d85a6546697216d4951885db9.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
	</div> #}

{% endblock %}
