{% extends 'base.html.twig' %}

{% set successMessages = app.flashes('success') %}

{% block body %}

<section class="hero" style="background: url('{{ asset('images/homepage.jpg') }}') center/cover no-repeat;">
  <div class="overlay"></div>
  <div class="hero-content">
    <h5>CHEF PRIVÉ À DOMICILE</h5>
    <h1>Une expérience de chef,<br>servie chez vous.</h1>
    <h3>Cuisine raffinée, produits locaux et service sur mesure.</h3>
    <div class="locations">
      La Rochelle • Rochefort • La Palmyre • Bordeaux
    </div>
  </div>
</section>

<section id="aboutme" class="about">
  <div class="about-container">
    <div class="about-text">
      <h2>À PROPOS</h2>
      <p>
        Après plus de 20 ans passés dans l’univers exigeant de la restauration, 
        j’ai choisi de mettre mon savoir-faire au service d’une cuisine plus personnelle. 
        En tant que chef privé et traiteur, je vous propose une expérience sur mesure, 
        où chaque plat est pensé pour sublimer vos produits et vos envies.
      </p>
    </div>

    <div class="about-images">
      <img src="{{ asset('images/about1.jpg') }}" alt="Chef en cuisine">
      <img src="{{ asset('images/about2.jpg') }}" alt="Dressage d’un plat">
    </div>
  </div>
</section>

<section class="events">
   <video autoplay muted loop playsinline class="background-video">
      <source src="/video/cooking.mp4" type="video/mp4">
    </video>
    
  <div class="overlay"></div>

  <div class="events-content">
    <div class="left-text">
      <h2>Vos Événements<br>Sur Mesure</h2>
    </div>
    <div class="right-text">
      <p>
        De l’intimité d’un dîner privé à la grandeur d’une réception,  
        chaque détail est pensé pour refléter vos envies.  
        Je crée des expériences culinaires uniques,  
        taillées à votre image.
      </p>
    </div>
  </div>
</section>

<section class="prestations-section">
  <div class="prestations-header">
    <h2>MES PRESTATIONS</h2>
  </div>

  <div id="prestations_card_sections" class="menu-container" style="width:100%;">
      {% for key, one_article in tabArticle %}
      <div class="menu-item-wrapper">
        <a href="#" class="menu-item" onclick="toggleCollapsible(event, 'content{{ one_article.id - 1 }}')">
          <div class="menu-item-image-wrapper">
            <img src="/img/plat{{ one_article.id }}.jpg?v=2" alt="image de présentation" class="menu-item-image">
          </div>
          <div class="menu-item-content flex flex-column flex-center">
            <div class="menu-item-tags">{{ one_article.subtitle }}</div>
            <h2 class="menu-item-title">{{ one_article.title }}</h2>
          </div>
          <div class="menu-item-arrow">&#10140;</div>
        </a>
        <div id="content{{ one_article.id - 1 }}" class="collapsible-content">
          <p style="white-space: pre-wrap;" >{{ one_article.text }}</p>
            <div class="menu-sections-collapsible">
            {% for menu in one_article.menus %}
                <div class="menu-column-collapsible">
                  <h4>{{ menu.title }}</h4>
                  <ul>
                    {% for plat in menu.plats %}
                    <li>
                      {{ plat.libelle }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            {% endfor %}
            </div>
        </div>
      </div>
      {% endfor %}

  </div>
</section>

{# <section class="instagram-feed-section">
    <h2 class="title-h2">#MonActualitéGastronomique</h2> 
    <div id="instagram-widget-container">
      <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f067af7e5ca8557f9b834d33449f447c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
    <a href="[Lien vers votre Instagram]" target="_blank" class="instagram-cta">
        Suivez-moi pour plus d'inspirations culinaires
    </a>
</section> #}

<script>
function toggleCollapsible(event, contentId) {
  console.log('je suis la');
    event.preventDefault(); 
    const content = document.getElementById(contentId);
    const menuItem = event.currentTarget; 

    if (content.classList.contains('show')) {
        content.classList.remove('show');
        menuItem.classList.remove('active');
    } else {
        
        document.querySelectorAll('.collapsible-content.show').forEach(openContent => {
            openContent.classList.remove('show');
        });
        document.querySelectorAll('.menu-item.active').forEach(activeItem => {
            activeItem.classList.remove('active');
        });

        content.classList.add('show');
        menuItem.classList.add('active');
    }
}
</script>

{% endblock %}
