{% extends 'admin/admin.html.twig' %}

{% block title "Ajouter un nouveau menu" %}

{% block body %}
  <section class="p30 sections">
      {{ form_start(form) }}

      {{ form_row(form.title) }}
      {{ form_row(form.plats) }}

      <div id="new_plats_widget">
          <div data-prototype="{{ form_widget(form.newPlats.vars.prototype)|e('html_attr') }}"
                data-index="{{ form.newPlats|length }}"
                class="new-plats-collection-container">
          
              {% for newPlat in form.newPlats  %}
                  <div class="plat-item">
                      {{ form_row(newPlat.libelle) }}
                  </div>
              {% endfor %}
          </div>

          <button type="button" class="add-plat-btn btn btn-secondary mt-3">
              Ajouter un plat
          </button>
      </div>

      {{ form_rest(form) }} 

      <div>
          <button type="button" class="btn btn-outline-secondary mr2" onclick="window.history.back();">Retour</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
      
      {{ form_end(form) }}
  </section>

<script>

  document.addEventListener('DOMContentLoaded', function()
  {
    const addButton = document.querySelector('.add-plat-btn');
    const container = document.querySelector('.new-plats-collection-container');

    if (addButton && container)
    {
      let index = container.dataset.index || container.children.length;

      addButton.addEventListener('click', function() {
          addFormToCollection(container, index);
          index++;
      });
    }

    function addFormToCollection(collectionHolder, currentIndex)
    {
      const prototype = collectionHolder.dataset.prototype;

      let newForm = prototype.replace(/__name__/g, currentIndex);
      
      
      const newPlatDiv = document.createElement('div');
      newPlatDiv.classList.add('plat-item', 'mb-3');
      newPlatDiv.innerHTML = newForm;


      const removeButton = document.createElement('button');
      removeButton.type = 'button';
      removeButton.classList.add('btn', 'btn-danger', 'btn-sm', 'ms-2');
      removeButton.textContent = 'Supprimer ce plat';
      
      removeButton.addEventListener('click', function() {
          newPlatDiv.remove();
      });

      newPlatDiv.querySelector('input[type="text"]').parentNode.appendChild(removeButton); 
      collectionHolder.appendChild(newPlatDiv);
    }

  });

</script>
    
{% endblock %}