{# templates/pagination/navigation.html.twig #}

    <nav>
        <ul class="pagination justify-content-center">

            {# précédent #}
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Page précédente">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="bi bi-chevron-left"></i></span></li>
            {% endif %}

            {# pages #}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% endif %}
            {% endfor %}

            {# suivant #}
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Page suivante">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="bi bi-chevron-right"></i></span></li>
            {% endif %}

        </ul>
    </nav>
