{% extends 'base.html.twig' %}

{% set successMessages = app.flashes('success') %}

{% block body %}

<div class="home contact_header flex flex-column align-center flex-center" style="background-image: url('/img/contactpage.jpg');">

  <h2 class="title text_shadow_light mb20 mt0">Conception de votre événement</h2>
  <div class="contact_header_text">
    Parlez-moi de votre projet.
    Je vous répondrai rapidement <br>
    
  </div>
</div>

<div class="section-contact-form">
  <div class="contact-form-img">
    <img src="/img/chef.jpg" alt="un chef heureux" style="width:100%;border-radius:5px;">
  </div>
  <div class="contact-form-container" style="">
    {% for message in successMessages %}
    <div class="success-message" id="flashmessage">{{ message }}</div>
    {% endfor %}
    {# <h2 class="mb10 title_section">
      Contactez-moi
    </h2> #}
    <div style="width:100%; height: fit-content;">
      <div class="contact-form-wrapper" style="border-bottom: none;">
        <form method="POST" id="contact-form" class="flex flex-column" style="padding: 25px;">
          <div class="error">
            {{ form_errors(form.name) }}
          </div>
          {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}

          <div class="error">
            {{ form_errors(form.phone) }}
          </div>
          {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}

          <div class="error">
            {{ form_errors(form.email) }}
          </div>
          {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}

          <div class="error">
            {{ form_errors(form.message) }}
          </div>
          {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre Message', 'rows': '6'}}) }}

          <div class="form-submit" style="margin-top: 30px;">
            {{ form_rest(form) }}
            <button type="submit" class="submit-btn">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}